# Importing Necessary Libraries and Environment Setup

In [3]:
# Replace with your API Key here
import os
os.environ['OPENAI_API_KEY'] = "YOUR API KEY"

In [4]:
#Importing LangChain into the kernel
from langchain_core.prompts import ChatPromptTemplate
from langchain_community.utilities import SQLDatabase

from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import RunnablePassthrough
from langchain_openai import ChatOpenAI

In [5]:
import pandas as pd
import json

# Database Setup

1. Creating db instance
2. SQL Query provided by ChatGPT always encounters issue with GROUPBY. It only includes the primary key in the GROUPBY columns, which is still valid. Hence, removing the ONLY_FULL_GROUP_BY clause in MySQL to still go ahead to run the SQL Query

In [7]:
import mysql.connector

cnx = mysql.connector.connect(user= 'YOUR USERNAME', password = 'YOUR PASSWORD', database = 'YOUR DB_NAME')
cursor = cnx.cursor()

sql_statement = (
    "SET GLOBAL sql_mode=(SELECT REPLACE(@@sql_mode,'ONLY_FULL_GROUP_BY',''));"
)

cursor.execute(sql_statement)

In [8]:
db_uri = "mysql+mysqlconnector://YOUR_USERNAME:YOUR_PW@YOUR_SERVER/YOUR_DB_NAME"
db = SQLDatabase.from_uri(db_uri)

# Functions Setup

In [6]:
def get_schema(_): # _ as parameter is required for RunnablePassthrough
    return db.get_table_info()

def get_database(_): 
    return db.dialect

def run_query(query):
    return db.run(query)

def json_output_parser(json_result):
    clean_json_result = json.loads(json_result.content.replace("json","").replace("```",""))

    #check for nested dictionary
    try:
        any(isinstance(i[0],dict) for i in clean_json_result.values())
        outer_key = list(clean_json_result.keys())[0]
        df = pd.DataFrame(clean_json_result[outer_key])
    except:
        df = pd.DataFrame(clean_json_result)
    return df

# Chain Based LangChain LLM

Building based on Prompt Template of

Query -> Generate SQL Query -> Run Query in DB -> Pass to ChatGPT to analyse result -> Output Result as table / human language

Parameters: 
- Database -> to get the dialect, e.g. MySQL, Postgres, etc
- Schema -> to pass the schema of the database for context.
- Question -> for users to pass the question asking the database.
- Expected Column -> cleaner result for table output by writing expected columns as result. Each column is separated by "|"
- Response type -> whether it should be table with json iterable format or human language

In [9]:
# Creating prompt template
template = """
You are {database} expert with great attention to detail on the column names and schema of the table in the database. 
Based on the table schema below, write a SQL query without any explanation that would answer the user's question: {schema}

Question: {question}
Approximate Expected Column: {expected_column}
SQL Query:
"""

prompt = ChatPromptTemplate.from_template(template)

In [10]:
llm = ChatOpenAI(temperature = 0)

sql_chain = (
    RunnablePassthrough.assign(schema = get_schema, database = get_database)
    | prompt
    | llm.bind(stop = "\nSQL Result:") #stop generating more text as soon as it sees SQL Result. Preventing hallucination
    | StrOutputParser() #output is expected to be SQL Query Strings
)

In [11]:
template = """
You are a {database} expert and data analyst. You have great attention to detail especially on the column names in the table. 
Based on the table schema, write a {response_type} response: 
{schema}

Question: {question}
Approximate Expected Column Result: {expected_column}
SQL Query: {query}
SQL Response: {response}
"""

prompt = ChatPromptTemplate.from_template(template)

In [12]:
full_chain = (
    RunnablePassthrough.assign(query=sql_chain).assign(
        database = get_database,
        schema=get_schema,
        response = lambda var: run_query(var['query'].replace("sql", "").replace("```","").replace(";", ""))
    )
    | prompt
    | llm.bind(stop = "\nSQL Result:")
)

## Testing on Human language output and Table based output

In [13]:
result = full_chain.invoke({"question": "how many orders are there?",
                   "expected_column": '',
                   "response_type": "natural human language"
})
print(result.content)

There are a total of 99,441 orders in the database.

In [17]:
result = full_chain.invoke({"question": "Which region having more orders?",
                   'expected_column': '',
                   "response_type": "human language"
                })
print(result.content)

The region with the most orders is SÃ£o Paulo (SP) with a total of 41,746 orders.

In [18]:
result = full_chain.invoke({
                   'question':  "Top 10 product details with product category name in English, sorted in descending order by number of product orders",
                   'expected_column':'product_id | product category name english | product name length | product description length | product weight | product length | product height | product width | num of orders',
                   "response_type": "single table json iterable format"
                   })

In [19]:
df = json_output_parser(result)
df

,product_id,product_category_name_english,product_name_length,product_description_length,product_weight,product_length,product_height,product_width,num_of_orders
0,aca2eb7d00ea1a7b8ebd4e68314663af,furniture_decor,44,903,2600,50,10,30,527
1,99a4788cb24856965c36a24e339b6058,bed_bath_table,54,245,1383,50,10,40,488
2,422879e10f46682990de24d770e7f83d,garden_tools,56,348,1550,30,22,30,484
3,389d119b48cf3043d311335e499d9c6b,garden_tools,59,341,1750,37,22,40,392
4,368c6c730842d78016ad823897a372db,garden_tools,57,366,1650,30,22,30,388
5,53759a2ecddad2bb87a079a1f1519f73,garden_tools,58,340,1500,30,22,30,373
6,d1c427060a0f73f6b889a5c7c61f2ac4,computers_accessories,59,1893,6550,20,20,20,343
7,53b36df67ebb7c41585e8d54d6772e08,watches_gifts,33,523,584,16,11,13,323
8,154e7e31ebfa092203795c972e5804a6,health_beauty,48,575,100,20,15,15,281
9,3dd2a17168ec895c781a9191c1e95ad7,computers_accessories,48,894,533,22,11,20,274

In [25]:
questions_list = {'question':["Top 10 product details with product category name in English, sorted in descending order by number of product orders", 'Which region having more orders?','how many orders are there?'],
                  'expected_column':['product_id | product category name english | product name length | product description length | product weight | product length | product height | product width | num of orders','',''],
                  'response_type':['single table json iterable format','human language', 'human language']
                  }
questions_df = pd.DataFrame(questions_list)
questions_df

,question,expected_column,response_type
0,Top 10 product details with product category n...,product_id | product category name english | p...,single table json iterable format
1,Which region having more orders?,,human language
2,how many orders are there?,,human language

In [26]:
def add_questions_list(questions_df, question, expected_column='', response_type = 'human language'):

    question_dict = {'question': [question], 'expected_column': [expected_column], 'response_type': [response_type]}
    questions_df = pd.concat([questions_df, pd.DataFrame(question_dict)])

    questions_df.drop_duplicates(inplace= True)
    return questions_df

In [27]:
questions_df = add_questions_list(questions_df, question = 'why is the sky blue')
questions_df

In [39]:

for idx, rows in enumerate(questions_df):
    result = full_chain.invoke(questions_df.iloc[idx].to_dict())
    if 'table' in questions_df['response_type'].iloc[idx]:  
        result = json_output_parser(result)

    else: result = result.content

    print('Questions:', questions_df['question'].iloc[idx])    
    print('Result:\n',result)

Questions: Top 10 product details with product category name in English, sorted in descending order by number of product orders
Result:
                          product_id product_category_name_english  \
0  aca2eb7d00ea1a7b8ebd4e68314663af               furniture_decor
1  99a4788cb24856965c36a24e339b6058                bed_bath_table
2  422879e10f46682990de24d770e7f83d                  garden_tools
3  389d119b48cf3043d311335e499d9c6b                  garden_tools
4  368c6c730842d78016ad823897a372db                  garden_tools
5  53759a2ecddad2bb87a079a1f1519f73                  garden_tools
6  d1c427060a0f73f6b889a5c7c61f2ac4         computers_accessories
7  53b36df67ebb7c41585e8d54d6772e08                 watches_gifts
8  154e7e31ebfa092203795c972e5804a6                 health_beauty
9  3dd2a17168ec895c781a9191c1e95ad7         computers_accessories

   product_name_length  product_description_length  product_weight  \
0                   44                         903            2600
1                   54                         245            1383
2                   56                         348            1550
3                   59                         341            1750
4                   57                         366            1650
5                   58                         340            1500
6                   59                        1893            6550
7                   33                         523             584
8                   48                         575             100
9                   48                         894             533

   product_length  product_height  product_width  num_of_orders
0              50              10             30            527
1              50              10             40            488
2              30              22             30            484
3              37              22             40            392
4              30              22             30            388
5              30              22             30            373
6              20              20             20            343
7              16              11             13            323
8              20              15             15            281
9              22              11             20            274
Questions: Which region having more orders?
Result:
 The region with the most orders is SÃ£o Paulo (SP) with a total of 41,746 orders.
Questions: how many orders are there?
Result:
 There are a total of 99,441 orders in the database.

# Agent based

A faster way to

In [40]:
from langchain_community.agent_toolkits import create_sql_agent

agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools")

In [44]:
for idx, rows in enumerate(questions_df):
    result = agent_executor.invoke(questions_df['question'].iloc[idx])
    print('Questions:', questions_df['question'].iloc[idx])    
    print('Result:\n',result['output'],'\n')

Questions: Top 10 product details with product category name in English, sorted in descending order by number of product orders
Result:
 The top 10 product details with the product category name in English, sorted in descending order by the number of product orders are:

1. Product ID: aca2eb7d00ea1a7b8ebd4e68314663af, Product Category Name: moveis_decoracao (furniture_decor), Number of Orders: 527
2. Product ID: 99a4788cb24856965c36a24e339b6058, Product Category Name: cama_mesa_banho (bed_bath_table), Number of Orders: 488
3. Product ID: 422879e10f46682990de24d770e7f83d, Product Category Name: ferramentas_jardim (garden_tools), Number of Orders: 484
4. Product ID: 389d119b48cf3043d311335e499d9c6b, Product Category Name: ferramentas_jardim (garden_tools), Number of Orders: 392
5. Product ID: 368c6c730842d78016ad823897a372db, Product Category Name: ferramentas_jardim (garden_tools), Number of Orders: 388
6. Product ID: 53759a2ecddad2bb87a079a1f1519f73, Product Category Name: ferramentas_jardim (garden_tools), Number of Orders: 373
7. Product ID: d1c427060a0f73f6b889a5c7c61f2ac4, Product Category Name: informatica_acessorios (computers_accessories), Number of Orders: 343
8. Product ID: 53b36df67ebb7c41585e8d54d6772e08, Product Category Name: relogios_presentes (watches_gifts), Number of Orders: 323
9. Product ID: 154e7e31ebfa092203795c972e5804a6, Product Category Name: beleza_saude (health_beauty), Number of Orders: 281
10. Product ID: 3dd2a17168ec895c781a9191c1e95ad7, Product Category Name: informatica_acessorios (computers_accessories), Number of Orders: 274

Questions: Which region having more orders?
Result:
 The region with the most orders is SÃ£o Paulo, with a total of 87,419 orders.

Questions: how many orders are there?
Result:
 There are a total of 99,441 orders in the database.